{
  "development": {
    "username": "username",
    "password": "password",
    "database": "task5_db",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "operatorsAliases": false
  },
  "test": {
    "username": "username",
    "password": "password",
    "database": "task5_db",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "operatorsAliases": false
  },
  "production": {
    "username": "username",
    "password": "password",
    "database": "task5_db",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "operatorsAliases": false
  }
}
